<!DOCTYPE html>
<html lang="zh">
<head>
    <title> BlinkD </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="css/main.css" type="text/css" /> -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet/less" type="text/css" href="/stylesheets/main.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body>
     <%- include('partials/navbar') %>
    <div class="about-container">
    <section>
        <div class="info-container">
          <div class="info-inner">
          <div class="line-wrapper">
          <div class="photo-wrap">
          <img class="info-photo" src="/images/me.png" alt="">
          </div>
          <div class="name-wrapper">
          <span class="info-name1">叶萍萍</span>
          <span class="info-name2">Wendy</span>
          <span class="info-age">1992</span>
          </div>
          </div>
          <div class="info-quote">Stay curious, make awsome things happen </div>
                 <div class="my-email"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;blinkpopy@qq.com</div>
        </div>
        </div>
    </section>
    <section>
    <div class="middle-container">
        <div class="edu-container">
            <div class="first-tittle edu-tittle">一个没有故事的女同学？</div>
            <div class="back-txt edu-back">EDUCATION</div>
            <div class="edu-info">
            <div class="sec-tittle edu-school">中山大学&nbsp;信息管理与信息系统&nbsp;本科</div>
            <div class="time edu-time">2011－2015</div>
            <div class="detail-txt edu-txt">懵懵懂懂进入计算机的世界捣腾，因此学会了熬夜</div>
            </div>
        </div>
        <div class="work-container">
        <div class="first-tittle work-tittle">菜鸟的初炼</div>
        <div class="back-txt work-back1">WORK EXPERIMENTS</div>
        <div class="work-info">
        <div class="sec-tittle work-tittle">京东&nbsp;用户体验设计部&nbsp;用户研究</div>
        <div class="time work-time">2014.12－2016.10</div>
        <div class="detail-txt work-txt">产品可用性测试与流程优化，促销活动研究(优惠券、sns互动玩法)，频道页、馆区以及首页产品改版研究</div>
        </div>
        <div class="work-info work-info2">
        <div class="sec-tittle work-tittle">唯品会&nbsp;商业智能部BI精准营销&nbsp;数据分析&nbsp;实习</div>
        <div class="time work-time">2014.07－2014.10</div>
        <div class="detail-txt work-txt">营销模型SQL自动化统计脚本维护与优化&nbsp;营销数据分析&nbsp;会员生命周期监控与精准推荐</div>
        </div>
        <div class="pro-container">
            <div class="first-tittle edu-tittle">Code My Way</div>
            <div class="code-txt">KEEP CODING,KEEP PASSION ALIVE</div>
            <div class="pro-wrapper">
            <div class="pro-info">
                <div class="pro-tittle sec-tittle">智能机器人</div>
                <div class="pro-inro">
                    <div class="pro-why">项目介绍</div>
                    <div class="pro-start">
                    <p>我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我我是</p></div>
                    <div class="pro-what">技术</div>
                    <div class="pro-end"><p>what我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我我是</p></div>
                </div>
                <div class="pro-pic"><img class="pro-pic" src="/images/1.jpg" alt=""></div>
            </div>


            </div>
        </div>
    </div>
    </section>
                      <%- include('partials/footer') %>
</body>

</html>
