<!DOCTYPE html>
<html lang="zh">
<head>
    <title> BlinkD </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="css/main.css" type="text/css" /> -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css" type="text/css"/>
        <link rel="stylesheet/less" type="text/css" href="/stylesheets/main.less" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/less.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body>
         <%- include('partials/navbar') %>
    <div class="page-container">
    <div class="at-container">
    <div class="at-tittle">h5从入门到放弃</div><span class="at-time">&nbsp;1天前</span>
    <div class="author">By<span class="at-author">&nbsp;popy</span></div>
    <div class="at-summary">我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子........</div>
    <section>
    <h4>入门的时候感觉世界充满爱</h4>
    <p>
            Type someth是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个ing
    </p>
    <img src="/images/1.jpg">
    <li><a href="baidu.com">hahahah</a></li>
    <li><quote>One of the most powerful ways you can advance your own design is to get feedback.</quote></li>
    <li>hahahah</li>
    <li>hahahah</li>
    <li>hahahah</li>
    <p>
            Type someth是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个ing
    </p>
    </section>
    <section>
        <h4>入门的时候感觉世界充满爱</h4>
    <p>
            Type someth是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个ing
    </p>
    <p>
            Type someth是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个ing
    </p>
    </section>
    </div>
    <div class="tag-container">
        <span class="tag-txt">标签</span>
        <span class="tag-name">前端开发</span>
        <span class="tag-name">产品</span>
        <span class="tag-name">设计</span>
        <span class="tag-name">node</span>
    </div>
    <div class="user-container">
        <span class="fav-icon"><i class="fa fa-heart-o" aria-hidden="true"></i>
        </span><span class="fav-no">&nbsp;&nbsp;100</span>
        <span class="talk-icon"><i class="fa fa-comment-o" aria-hidden="true"></i>
        </span><span class="talk-no">&nbsp;&nbsp;100</span>
    </div>
    </div>

    <div class="comment-container">
         <div class="tittle"><div class="t-text">文章评论</div><span><img class="t-pic" src="/images/head.png"></span></div>
         <div class="comment-wrapper">
             <div class="com-user">
                 <div class="user-pic"><img class="user-img" src="/images/p3.png" alt=""></div>
                 <div class="user-name">匿名用户</div>
                 <div class="user-time">1天前</div>
             </div>
             <div class="com-txt">
                 我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子........
             </div>
    </div>
             <div class="comment-wrapper">
             <div class="com-user">
                 <div class="user-pic"><img class="user-img" src="/images/p3.png" alt=""></div>
                 <div class="user-name">匿名用户</div>
                 <div class="user-time">1天前</div>
             </div>
             <div class="com-txt">
                 我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子........
             </div>
    </div>
             <div class="comment-wrapper">
             <div class="com-user">
                 <div class="user-pic"><img class="user-img" src="/images/p3.png" alt=""></div>
                 <div class="user-name">匿名用户</div>
                 <div class="user-time">1天前</div>
             </div>
             <div class="com-txt">
                 我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子........
             </div>
    </div>
             <div class="comment-wrapper">
             <div class="com-user">
                 <div class="user-pic"><img class="user-img" src="/images/p3.png" alt=""></div>
                 <div class="user-name">匿名用户</div>
                 <div class="user-time">1天前</div>
             </div>
             <div class="com-txt">
                 我是一个号孩子t我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子好孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子我是一个号孩子........
             </div>
    </div>
    </div>
         <%- include('partials/navbar') %>
</body>

</html>
