<header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed b-nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div>
                        <a class="navbar-brand" href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-txt" href="/">主页</a></li>
                        <li><a class="nav-txt" href="/list">发现</a></li>
                        <li><a class="nav-txt" href="/about">About me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
